EVENTHUB_CONNECTION_STRING= Endpoint=sb://eh-ns-project.servicebus.windows.net/;SharedAccessKeyName=producer-send-policy;SharedAccessKey=+u/aZ52q0czuy05X3U6vQ7oQB/C7z1bKW+AEhIxWIpI=
EVENTHUB_NAME= orders
